.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 6px;
  color: black;
  padding: 15px 10px;
  margin-bottom: 30px;
  transition: 0.4s;
}
.todo:hover {
  padding: 30px 10px;
}
.todo .todo-info h3 {
  margin: 0 0 10px;
  text-align: right;
}
.todo .todo-info p {
  text-align: right;
}
