* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #333;
  color: white;
  font-family: Alexandria;
}

/* ===== CUSTOM FONTS ====== */
@font-face {
  font-family: Alexandria;
  src: url("../public/fonts/Alexandria-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Alexandria;
  src: url("../public/fonts/Alexandria-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Alexandria;
  src: url("../public/fonts/Alexandria-Black.ttf");
  font-weight: 900;
}

@font-face {
  font-family: Alexandria;
  src: url("../public/fonts/Alexandria-Light.ttf");
  font-weight: 200;
}

/* =====// CUSTOM FONTS //====== */
